<h1 style="color:blue;">TEST</h1>
<style>
      body {background-color: powderblue;}
      h1   {color: royalblue;}
      p    {color: black;}
</style>

<a [routerLink]="['']" class="btn btn-link">Home</a>

<h3>Question 1</h3>
<label>Implement function ToLowerCase() that has a string parameter str, and returns the same string in lowercase.</label><br>
<textarea name="message" rows="10" cols="120"></textarea>

<input name="buttonExecute" onclick="execute(document.getElementsByName('textbox')[0].value)" type="button" value="Run" />

<h3>Question 2</h3>
<label>Given an array A of non-negative integers, return an array consisting of all the even elements of A, followed by all the odd elements of A.
        You may return any answer array that satisfies this condition.</label><br>
<textarea name="message" rows="10" cols="120"></textarea>

<input name="buttonExecute" onclick="execute(document.getElementsByName('textbox')[0].value)" type="button" value="Run" />
<p>Submit handwritten portion below</p>
<input name="upload" onclick="execute(document.getElementsByName('textbox')[0].value)" type="button" value="Upload" />
